/* css-1. sayfanın kenarlarında boşluklar var. bunları yok edelim ve sayfadaki default font'u 'Roboto Mono' yapalım */

body{
   margin: 0;
  padding: 0;
  font-family: "Roboto Mono";
}
/* css-2. container isimli class için genişliği 750px ayarlayalım ortalamak için dış boşlukları '0 auto' ayarlayalım.!*/
.container {
  max-width: 750px;
  margin: 0 auto;
}
/* css-3.  nav a için;
  genişlik %18 olsun, 
  yükseklik %3 olsun. 
  arkaplan rengi #5ED3EB,
  yazı rengi beyaz olsun,
  yazının altı çizili olmasın
  kenarları 10px ile yuvarlatılsın
  yazı ortalansın.
  */
nav a {
  margin: 10px 10%;
  padding: 20px 20px;
  display: inline-block;
  vertical-align: middle;
}

/* css-4. nav a'nın ilk child olduğu durum için;
  arkaplan rengi: #FF764E olsun,
  iç boşlukları yukarı-aşağı için 10px, sol-sağ için 20px olsun
  dış boşlukları için yukarı-aşağı için 10px, sol-sağ için 1% olsun
  */

/* css-5. nav a'nın son child olduğu durum için;
  arkaplan rengi: #FFCD69 olsun
  dış boşlukları için yukarı-aşağı için 10px, sol-sağ için 1% olsun 
*/

/* ***** main-section ****** */

/* css-6. main-section class'ına sahip bir element içindeki tüm image'lar için;
  kenar yuvarlaklığı: 100%,
  genişlik 30%
  dış boşlukları için yukarı-aşağı için 10%, sol-sağ için 2% olsun
  dikey-hizası middle olsun.
*/

/* css-7. main-content class'ı;
  inline-block olsun,
  dikey-hizası middle olsun.
  genişlik 60% olsun,
  metinler ortaya hizalansın.
*/

/* css-8. heading 1 tag'i için font'lar 'Chelsea Market' olsun. */

/* ***** info-section ***** */

/* css-9. .info-section class'ı için;
  arkaplan rengi #DDB9A3 olsun
  iç boşlukları yukarı-aşağı için 10px, sol-sağ için 20px olsun
  yazı rengi beyaz olsun
  kenar yuvarlaklığı 20px olsun
  */

/* ***** features ***** */

.features-card {
  width: 40%;
  margin: 30px auto;
  text-align: center;
}

.features-card img {
  width: 40%;
}

/* css-10. emphasize class'ı için yazılar bold olsun */

/* footer */

/* css-11. footer arkaplan rengi #F9E7DC ve min-genişliği 750px olsun */

/* css-12. footer içindeki image için;
  genişlik: 100% olsun,
  yükseklik: 150px olsun,
  resim'den taşan yerler kırpılsın ve resim alanı kaplasın,
  resim, bulunduğu alana göre kendini yatay'da ortalasın(50%), dikeyde %20 aşağı kaysın.
  */

footer nav {
  padding: 2% 0;
}
